<% unless @PageRating.failed? %>
    <h1><%= @PageRating.show_what_we_wanted %></h1>
    <img src="<%= "/images/#{@PageRating.image_url_value}" %>"/>
    <h2>So there ya go.</h2>
<% else %>
    <h1>something went wrong!</h1>
<% end %>